/* src/components/ExercicioDetalhado.css */

.exercicio-detalhado-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: #f9f9f9; /* Fundo mais neutro */
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.exercicio-detalhado-container h2 {
  color: #7cb342;
  font-size: 2rem;
  margin-bottom: 20px;
}

.exercicio-detalhado-container p {
  font-size: 1.1rem;
  color: #34495e;
  margin-bottom: 20px;
}

iframe {
  border-radius: 10px;
  border: none;
  max-width: 100%;
  height: 315px;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px; /* Botão menor */
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px; /* Bordas arredondadas */
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  transform: translateY(-4px); /* Levanta o botão suavemente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Foco suave */
}

button + button {
  margin-left: 15px;
  background-color: #3498db;
  border-radius: 25px;
}

button + button:hover {
  background-color: #2980b9;
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button + button:focus {
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Foco no segundo botão */
}

/* Responsividade */
@media (max-width: 768px) {
  button {
    padding: 8px 16px;  /* Botões menores em telas menores */
    font-size: 0.9rem;
  }

  button + button {
    margin-top: 10px;
    margin-left: 0;
  }
}
