/* Resetando margens e padding para garantir consistência */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar fixa */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Defina a altura da navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que a navbar esteja acima do conteúdo */
  padding: 0 0 0 40px; /* Espaçamento interno da navbar */
}

/* Espaçamento do conteúdo abaixo da navbar */
.page-content {
  padding-top: 60px; /* Mesma altura da navbar */
  margin-top: 0; /* Sem margem adicional */
}

/* Ajuste no conteúdo das páginas */
.content {
  padding-top: 60px; /* Mesma altura da navbar */
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar-links li {
  display: inline;
  position: relative;
  margin-right: 50px;
}

.submenu {
  cursor: pointer;
  position: relative;
}

.submenu-dropdown {
  position: absolute;
  top: calc(100% + 5px); /* Espaçamento entre o botão "Mais" e o menu */
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  list-style: none;
  padding: 0.5rem 0;
  display: none; /* Oculta por padrão */
  flex-direction: column;
  min-width: 150px;
  z-index: 2000;
}

.submenu-dropdown li {
  padding: 0.5rem 1rem;
}

.submenu-dropdown li a {
  text-decoration: none;
  color: #333;
}

.submenu-dropdown li a:hover {
  color: #00b4a7;
}

.submenu:hover .submenu-dropdown {
  display: flex; /* Exibe o dropdown ao passar o mouse */
}

/* Remove qualquer símbolo de verificação ou ícone de links e elementos da navbar */
.navbar-links li a::before,
.navbar-links li a::after,
.submenu-dropdown li a::before,
.submenu-dropdown li a::after {
  content: none; /* Remove qualquer conteúdo de pseudo-elementos */
}
