/* src/components/Navbar.css */
.navbar {
  display: flex;
  position: fixed; /* ou 'sticky' */
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1000
}

.navbar-logo {
  color: #00b4a7;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li {
  position: relative;
}

.submenu {
  cursor: pointer;
  position: relative;
}

.submenu-dropdown {
  position: relative;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.submenu-dropdown li {
  padding: 0.5rem 1rem;
}

.submenu-dropdown li a {
  text-decoration: none;
  color: #333;
}

.submenu-dropdown li a:hover {
  color: #00b4a7;
}
