.sobre-container {
  padding: 40px;
  background-color: #e0f2e9;
  text-align: center;
  color: #2c4b3f;
  width: 100%;
  box-sizing: border-box;
}

.sobre-header {
  margin-bottom: 30px;
}

.sobre-container h1 {
  font-size: 2.5rem;
  color: #2c4b3f;
  font-weight: bold;
  margin-bottom: 20px;
}

.sobre-container p {
  font-size: 1.2rem;
  color: #2c4b3f;
  line-height: 1.6;
}

.sobre-container h2 {
  font-size: 2rem;
  margin-top: 40px;
  color: #2c4b3f;
  font-weight: bold;
}

.time-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Para permitir que os membros se ajustem em diferentes linhas se não couberem em uma única linha */
  gap: 20px; /* Espaçamento entre os membros */
  margin-top: 40px;
}

.membro {
  background-color: #d9f0e1;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.membro:hover {
  transform: translateY(-10px);
}

.membro img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.membro h3 {
  margin: 10px 0 5px;
  color: #2c4b3f;
  font-size: 1.2rem;
}

.membro p {
  color: #2c4b3f;
  font-style: italic;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .sobre-container {
    padding: 20px;
  }

  .sobre-container h1 {
    font-size: 2rem;
  }

  .membro {
    width: 160px;
    padding: 15px;
  }

  .membro h3 {
    font-size: 1rem;
  }

  .membro p {
    font-size: 0.9rem;
  }
}
